.linear-gradient-txt {
  /* font-size: 72px; */
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linear-gradient-btn {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(1, 4, 8, 0.16);
  border: none;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}